apiVersion: apps/v1
kind: Deployment
metadata:
  name: "load-generator"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: "load-generator"
  template:
    metadata:
      labels:
        app: "load-generator"
    spec:
      containers:
        - name: "load-generator"
          image: 778851315920.dkr.ecr.us-east-1.amazonaws.com/load-generator:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          env:
            - name: "NUM_OF_JOBS"
              value: "100"
            - name: "PERIOD"
              value: "1000"
            - name: "PARTITIONS"
              value: "1"
            - name: "TOPIC_REPLICATION_FACTOR"
              value: "1"
            - name: "SHOW_GENERATED_RECORDS"
              value: "false"
